@charset 'utf-8';

#artist_details {
  padding: 0 20px;

  .img_box {
    position: relative;
    height: 170px;
    background: url('../images/austin-neill-hgO1wFPXl3I-unsplash_bg.png')
      no-repeat center;
  }

  .bg {
    @include wh(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .contents {
    @include wh(336px, 170px);
    @include flex(center, center);
    flex-wrap: wrap;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 20px;
    text-align: center;

    .info {
      width: 100%;
      margin-bottom: 30px;

      h3 {
        @include font(18px, #eee, 0.9);
        margin-bottom: 10px;
      }
      p {
        @include font(13px, #eee, 0.7);
        margin-bottom: 10px;
      }
    }

    .like {
      @include flex(space-between, center);
      width: 100%;

      .num {
        @include font(14px, #eee, 0.9);
        margin-bottom: 5px;
      }

      .text {
        @include font(10px, #eee, 0.6);
      }

      button {
        @include wh(75px, 24px);
        @include font(8px, $white-color);
        margin-right: 10px;
        background: linear-gradient(to bottom, $view-color, $active-color);
        border: none;
      }
    }
  }

  .top_title {
    @include flex(space-between, center);
    padding: 0;
    margin: 34px 0 36px 0;

    h3 {
      @include font(15px, $white-color, 0.8);
    }

    span {
      @include font(11px, $view-color);
    }
  }

  .album_list {
    display: flex;

    li {
      margin-right: 18px;

      &:last-of-type {
        margin-right: 0;
      }
    }
    img {
      margin-bottom: 18px;
    }
    h3 {
      @include font(12px, $white-color, 0.6);
      margin-bottom: 6px;
    }
    p {
      @include font(10px, #eee, 0.5);
    }
  }
  .song_list {
    margin-top: 36px;

    li {
      margin-bottom: 20px;
    }
    a {
      @include wh(100%, 30px);
      display: block;

      & > img {
        height: 22px;
        margin-right: 20px;
        float: left;
      }
    }
    .title {
      @include flex(space-between, flex-start);
      height: 100%;
      color: #fff;
      border-bottom: $border;

      h3 {
        @include font(14px, #fff, 0.3);
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      p {
        @include font(12px, #fff, 0.3);
      }
      .imgbox {
        width: 30%;
        text-align: right;

        span {
          opacity: 0.6;
        }
      }
    }
  }
}
