#playing {
  position: fixed;
  bottom: 70px;
  left: 0;
  width: 100%;
  height: 56px;
  backdrop-filter: blur(44px);
  -webkit-backdrop-filter: blur(44px);
  // background-color: #181b2c;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .play_bar {
    width: 100%;
    height: 3px;
    background: linear-gradient(to top, #ed8770, #d9519d);
  }
  .play_song {
    height: 56px;
    display: flex;
    padding: 5px 5px 5px 20px;
    color: #fff;

    img {
      margin-right: 15px;
    }

    .info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        margin-bottom: 2px;
        font-size: 13px;
        line-height: 1.3;
      }
      p {
        font-size: 10px;
        opacity: 0.8;
      }
    }
    .control {
      display: flex;
      align-items: center;
    }
  }
}
